---
import Layout from "../layouts/Layout.astro";

// mapping repetitive project items
const projects = [
	{src: Project1, alt: 'house-2', date: '2020', title: 'Sweden'},
	{src: Project3, alt: 'house-3', date: '2022', title:' Paris, France'},
	{src: Project4, alt: 'house-4', date: '2023', title:' London, UK'},
	{src: Project2, alt: 'house-5', date: '2024', title:' Manila, Philippines'},
]

// asset imports
import { Image } from 'astro:assets';

import ArrowUp from "/public/ph_arrow-up-light.svg"

import Archi from "/public/hero-image.webp"
import Project1 from "../images/project-image-1.webp";
import Project2 from "../images/project-image-2.webp";
import Project3 from "../images/project-image-3.webp";
import Project4 from "../images/project-image-4.webp";

import Service1 from "../images/carousel-image-1.webp";
import Service2 from "../images/carousel-image-2.webp";
import Service3 from "../images/carousel-image-3.webp";
---

<Layout title="ARCHI.">
	<main>
		<!-- Scroll to top -->
		<div class="scroll-to-top">
			<a href="#" class="position-fixed d-none d-lg-block bottom-0 end-0 bg-light rounded-5 p-2 m-2">
				<Image src={ArrowUp} alt="Thin black arrow up"/>
			</a>
		</div>
		<!-- Scroll to top -->

		<!-- Hero -->
		<header class="hero">
			<div class="container">
				<div class="row">
					<div class="col-lg-6">
						<h1>
							We specialize in architectural designs, landscaping concepts, interior layouts, product & graphic designs.
			  			</h1>
					</div>
					<div class="col-lg-6"></div>
				</div>
			</div>
		</header>  
		<!-- Hero -->

	  	<!-- About -->
		  <section class="about" id="about">
			<div class="container">
			  <h2>About</h2>
			  <hr />

			  <div class="row align-items-center">
				<div class="col-lg-2"></div>
				<div class="col-lg-5 mb-4 mb-lg-0 align-items-center ">
				  <p>Introducing Archi: Your premier destination for architectural innovation. From conceptualization to execution, we specialize in crafting awe-inspiring spaces that seamlessly blend creativity with functionality. With a commitment to excellence and a passion for design, Archi is your trusted partner in bringing your architectural visions to life. Join us in shaping the world around us, one masterpiece at a time. Welcome to Archi, where imagination meets structure.</p>
				</div>
				<div class="col-lg-5 mb-4 mb-lg-0">
				  <Image src={Archi} class='img-fluid' alt="Archi building image" loading="lazy" decoding="async">
				</div>
			  </div>
			</div>
		  </section>
	  	<!-- About -->

		  <!-- Projects -->
		  <section class="projects" id="projects">
			<div class="container">
				<h2>Projects</h2>
				<hr />
				
				<div class="row justify-content-end ">
			  		{projects.map((project) =>(		
					<div class="col-lg-5 mb-4">
						<Image src={project.src} class="w-100 h-auto" alt={project.alt} loading="lazy" decoding="async"/>
						<p class="text-muted pt-1 mb-0"><small>{project.date}</small></p>
						<p>{project.title}</p>
					</div>))}
				</div>
			</div>
		</section>
		<!-- Projects -->

		<!-- Services -->
		<section class="services" id="services">
		  <div class="container">
			  <h2>Services</h2>
			  <hr>
	
			  <div class="row align-items-center">
				  <div class="col-lg-2"></div>
				  <div class="col-lg-5 mb-4">
					  <h3 class="fw-light">Architectural Designs</h3>
					  <h3 class="fw-light">Landscaping Concepts</h3>
					  <h3 class="fw-light">Interior Layouts</h3>
					  <h3 class="fw-light">Product & Graphic Designs</h3>
				  </div>
				  <div class="col-lg-5">
					<div id="carouselExampleFade" class="carousel slide carousel-fade mb-4 mb-lg-0" data-bs-ride="carousel">
						<div class="carousel-inner">
						  <div class="carousel-item active" data-bs-interval="2000ms" >
							<Image src={Service1} class="d-block w-100 h-auto" alt="carousel image 1" loading="lazy" decoding="async">
						  </div>
						  <div class="carousel-item" data-bs-interval="2000ms" >
							<Image src={Service2} class="d-block w-100 h-auto" alt="carousel image 2" loading="lazy" decoding="async">
						  </div>
						  <div class="carousel-item" data-bs-interval="2000ms" >
							<Image src={Service3} class="d-block w-100 h-auto" alt="carousel image 3" loading="lazy" decoding="async">
						  </div>
						</div>
						<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
						  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
						  <span class="visually-hidden">Previous</span>
						</button>
						<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
						  <span class="carousel-control-next-icon" aria-hidden="true"></span>
						  <span class="visually-hidden">Next</span>
						</button>
					  </div>
				  </div>
			  </div>
		  </div>
		</section>
		<!-- Services -->
	</main>
</Layout>

<style>
	@media screen and (min-width:601px) {
		.hero {
	  		background-image: url("/hero-image.webp");
	  		background-attachment: fixed;
	  		background-position: center;
	  		background-size: cover;
	  		background-repeat: no-repeat;
	  		padding: clamp(100px, 10vw, 150px) 0;
		}

	}
	
	@media screen and (max-width:600px) {
		.hero {
	  		background-image: url("/hero-image-mobile.webp");
			background-attachment: fixed;
	  		background-position: center;
	  		background-size: cover;
	  		background-repeat: no-repeat;
	  		padding: clamp(100px, 10vw, 150px) 0;
		}
	}
  </style>